<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
</head>
<body style="font-family: Arial, sans-serif;">
<table style="width: 100%; max-width: 600px; margin: 0 auto; border: 1px solid #ddd; padding: 20px;">
    <tr>
        <td style="text-align: center;">
            <!-- Thêm logo -->
            <img src="https://firebasestorage.googleapis.com/v0/b/klb-project.appspot.com/o/images%2Flogo-blue%20(1).svg?alt=media&token=7c5741df-726f-42a5-b2df-755a27d634c7" alt="Company Logo" style="width: 150px; height: auto; margin-bottom: 20px;" />


            <h1 style="color: #333;">Account Verification</h1>
            <p style="font-size: 18px;">Hello, <span th:text="${customerName}">Customer Name</span>!</p>
            <p>Thank you for registering an account with us. To verify your account, please use the verification code below:</p>
            <h2 style="color: #0066cc; font-size: 24px;">Verification Code: <span th:text="${verificationCode}">123456</span></h2>
            <p>If you didn't request this, please ignore this email.</p>
            <br/>
            <p style="font-size: 16px;">Best Regards,</p>
            <p style="font-size: 16px;color: #0066cc;"><strong>EIGHT BANK</strong></p>
        </td>
    </tr>
</table>
</body>
</html>
